<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="SweetAlert2 Demo">
      <div class="d-flex gap-2 flex-wrap">
        <button type="button" class="btn btn-success" (click)="showSuccess()">Success</button>
        <button type="button" class="btn btn-danger" (click)="showError()">Error</button>
        <button type="button" class="btn btn-warning" (click)="showWarning()">Warning</button>
        <button type="button" class="btn btn-info" (click)="showInfo()">Info</button>
        <button type="button" class="btn btn-secondary" (click)="showConfirm()">Confirm</button>
      </div>
    </app-card>
  </div>
</div>
